titoli selezionati facenti parte di:
- settore tecnologico:  1) NVIDIA data l'esplosione dell'intelligenza artificiale
                        2) INTEL attualmente scontato ottima opportunità
- settore della sanità: 1) Johnosn e Johnson
                        2) PFIZER
- settore finanziario:  1) JPMorgan Chase (JPM)
                        2) Bank Of America (GS)

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf # per il download dei dati storici dei titoli
import matplotlib.pyplot as plt # per il plot dei grafici
import datetime as dt # per la gestione delle date

In [4]:
IMAGE_PATH = 'images/'

In [5]:
#iniziamo a scaricare i dati storici dei titoli
start_date = dt.datetime(2014,5,31)
end_date = dt.datetime(2024,5,31)

tickers = ["NVDA", "INTC", "HII", "TDG", "JPM", "BAC"]
# scarichiamo i dati di tutti i titoli

data_df = yf.download(tickers, start=start_date, end=end_date)["Adj Close"]
#riordiniamo le colonne 
data_df = data_df[tickers]
data_df.head(10)

[*********************100%%**********************]  6 of 6 completed

Ticker          NVDA       INTC        HII         TDG        JPM        BAC
Date
2014-06-02  0.450742  20.772066  84.787079  116.768105  41.902771  12.456397
2014-06-03  0.448839  21.076862  84.854233  117.469078  42.092049  12.415585
2014-06-04  0.449315  21.031141  84.887810  117.542877  42.152611  12.415585
2014-06-05  0.451218  21.076862  85.458588  117.426048  42.871811  12.595163
2014-06-06  0.452884  21.465488  86.037796  120.260712  43.129196  12.725769
2014-06-09  0.453360  21.267366  86.658920  121.133835  43.469868  12.929839
2014-06-10  0.455740  21.518822  86.121719  120.162323  43.833263  12.995143
2014-06-11  0.461690  21.282598  84.795494  120.051651  43.356316  12.725769
2014-06-12  0.464545  21.305466  83.217438  118.260445  43.182201  12.587003
2014-06-13  0.465022  22.760874  82.965607  119.036163  43.182201  12.603328

In [6]:
data_df.tail(10)

Ticker,NVDA,INTC,HII,TDG,JPM,BAC
Date,,,,,,
2024-05-16,94.351250,32.029999,254.834442,1286.319946,202.470001,38.982903
2024-05-17,92.471397,31.830000,254.277344,1291.949951,204.789993,39.052479
2024-05-20,94.772217,32.099998,254.267380,1312.760010,195.580002,38.585320
2024-05-21,95.378166,31.740000,252.446854,1336.839966,199.520004,39.410305
2024-05-22,94.942200,31.420000,253.173080,1326.189941,198.309998,39.519634
2024-05-23,103.790482,30.080000,251.571411,1330.719971,196.919998,38.933201
2024-05-24,106.460258,30.719999,254.874237,1350.310059,200.710007,39.459999
2024-05-28,113.891647,31.059999,251.442078,1317.939941,199.500000,39.082298
2024-05-29,114.815567,30.129999,247.015106,1312.290039,198.110001,38.485924
2024-05-30,110.490921,30.190001,249.919998,1321.849976,199.330002,38.396469

In [7]:
#piccola pulizia dei dati
data_df = data_df.dropna()

In [8]:
#creaimo una cartella per salvare i grafici
import os
def create_folder(folder):
    if not os.path.exists(folder):
        os.mkdir(folder)

create_folder(IMAGE_PATH)

In [9]:
#grafico dei dati
#costruiamo una lista di colori per i titoli in modo che siano sempre uguali
STOCK_PATH = IMAGE_PATH + "/stock_prices/"
create_folder(STOCK_PATH)
colors = ["red", "green", "blue", "black", "orange", "purple"]
data_df.plot(figsize=(12,8), color=colors)
plt.ylabel("Adj closed Price")
plt.title("Stock Prices")
plt.savefig(STOCK_PATH + "stock_prices.png")
plt.close()

In [10]:
#plottiamo tutti i titoli tranne NVDA
data_df.drop("TDG", axis=1).plot(figsize=(12,8), color=colors[0:3] + colors[4:6])
plt.ylabel("Adj closed Price")
plt.title("Stock Prices without TDG")
plt.savefig(STOCK_PATH + "stocksWithoutTDG.png")
plt.close()

2) RENDIMENTI

In [11]:
rsNetti_df = data_df.pct_change().dropna()
rsNetti_df.columns = [col + "_RSnetto" for col in rsNetti_df.columns]
rsNetti_df.head()

,NVDA_RSnetto,INTC_RSnetto,HII_RSnetto,TDG_RSnetto,JPM_RSnetto,BAC_RSnetto
Date,,,,,,
2014-06-03,-0.004224,0.014673,0.000792,0.006003,0.004517,-0.003276
2014-06-04,0.001060,-0.002169,0.000396,0.000628,0.001439,0.000000
2014-06-05,0.004237,0.002174,0.006724,-0.000994,0.017062,0.014464
2014-06-06,0.003692,0.018439,0.006778,0.024140,0.006004,0.010370
2014-06-09,0.001051,-0.009230,0.007219,0.007260,0.007899,0.016036

In [12]:
rsLordi_df = rsNetti_df + 1
rsLordi_df.columns = [col.replace("RSnetto", "RSlordo") for col in rsLordi_df.columns]
rsLordi_df.head()

,NVDA_RSlordo,INTC_RSlordo,HII_RSlordo,TDG_RSlordo,JPM_RSlordo,BAC_RSlordo
Date,,,,,,
2014-06-03,0.995776,1.014673,1.000792,1.006003,1.004517,0.996724
2014-06-04,1.001060,0.997831,1.000396,1.000628,1.001439,1.000000
2014-06-05,1.004237,1.002174,1.006724,0.999006,1.017062,1.014464
2014-06-06,1.003692,1.018439,1.006778,1.024140,1.006004,1.010370
2014-06-09,1.001051,0.990770,1.007219,1.007260,1.007899,1.016036

In [13]:
rsLogaritmici_df = np.log(rsLordi_df)
rsLogaritmici_df.columns = [col.replace("RSlordo", "Rlog") for col in rsLogaritmici_df.columns]
rsLogaritmici_df.head()

            NVDA_Rlog  INTC_Rlog  HII_Rlog  TDG_Rlog  JPM_Rlog  BAC_Rlog
Date
2014-06-03  -0.004233   0.014567  0.000792  0.005985  0.004507 -0.003282
2014-06-04   0.001060  -0.002172  0.000396  0.000628  0.001438  0.000000
2014-06-05   0.004228   0.002172  0.006701 -0.000994  0.016918  0.014360
2014-06-06   0.003685   0.018271  0.006755  0.023853  0.005986  0.010316
2014-06-09   0.001050  -0.009273  0.007193  0.007234  0.007868  0.015909

In [14]:
cum_df = rsLordi_df.cumprod()
cum_df.columns = [col.replace("RSlordo", "Rcomposito") for col in cum_df.columns]
cum_df.head()

,NVDA_Rcomposito,INTC_Rcomposito,HII_Rcomposito,TDG_Rcomposito,JPM_Rcomposito,BAC_Rcomposito
Date,,,,,,
2014-06-03,0.995776,1.014673,1.000792,1.006003,1.004517,0.996724
2014-06-04,0.996832,1.012472,1.001188,1.006635,1.005962,0.996724
2014-06-05,1.001056,1.014673,1.007920,1.005635,1.023126,1.011140
2014-06-06,1.004752,1.033382,1.014751,1.029911,1.029268,1.021625
2014-06-09,1.005808,1.023845,1.022077,1.037388,1.037398,1.038008

RENDIMENTO COMPOSTO ANNUO PER OGNI TITOLO

In [15]:
delta = end_date - start_date
delta.days

3653

In [16]:
annualized_return = cum_df.iloc[-1] ** (365/delta.days) - 1
#rename the series indexes
annualized_return.index = [col.replace("Rcomposito", "annualizedReturn") for col in annualized_return.index]
annualized_return

NVDA_annualizedReturn    0.732781
INTC_annualizedReturn    0.038066
HII_annualizedReturn     0.114060
TDG_annualizedReturn     0.274381
JPM_annualizedReturn     0.168631
BAC_annualizedReturn     0.119051
Name: 2024-05-30 00:00:00, dtype: float64

Grafico dei ritorni logaritmici e dei ritorni semplici

In [17]:
RETURNS_PATH = IMAGE_PATH + "/returns/"
create_folder(RETURNS_PATH)

In [18]:
def plot_netReturns_vs_logReturns(netReturns, logReturns, tickertitle):
    #netReturns is a series of net returns
    #logReturns is a series of log returns
    plt.subplot(2,1,1)
    plt.title(tickertitle + " Net Returns and Log Returns")
    netReturns.plot(figsize=(10,6), color="blue")
    plt.ylabel("Net Returns")
    plt.subplot(2,1,2)
    logReturns.plot(figsize=(10,6), color="green")
    plt.ylabel("Log Returns")
    plt.savefig(RETURNS_PATH + tickertitle + "_returns.png")
    plt.close()
    #plt.show()

In [19]:
#siccome i grafici non escono molto smooth, possiamo mensilizzare i ritorni
rs_netti_mensili = rsNetti_df.groupby(pd.Grouper(freq="M")).last()
rs_log_mensili = rsLogaritmici_df.groupby(pd.Grouper(freq="M")).last()
print(rs_netti_mensili.isna().sum(), rs_log_mensili.isna().sum())

NVDA_RSnetto    0
INTC_RSnetto    0
HII_RSnetto     0
TDG_RSnetto     0
JPM_RSnetto     0
BAC_RSnetto     0
dtype: int64 NVDA_Rlog    0
INTC_Rlog    0
HII_Rlog     0
TDG_Rlog     0
JPM_Rlog     0
BAC_Rlog     0
dtype: int64

C:\Users\Riccardo\AppData\Local\Temp\ipykernel_19800\792554769.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  rs_netti_mensili = rsNetti_df.groupby(pd.Grouper(freq="M")).last()
C:\Users\Riccardo\AppData\Local\Temp\ipykernel_19800\792554769.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  rs_log_mensili = rsLogaritmici_df.groupby(pd.Grouper(freq="M")).last()

In [20]:
for ticker in tickers:
    plot_netReturns_vs_logReturns(rs_netti_mensili[ticker + "_RSnetto"], 
                                  rs_log_mensili[ticker + "_Rlog"], 
                                  ticker)

In [21]:
def plotCumulativeReturns_vs_simpleReturns(cumReturns, simpleReturns, tickertitle, count):
    #cumReturns is a series of cumulative returns
    #simpleReturns is a series of simple returns
    plt.subplot(2,1,1)
    plt.title(tickertitle + " Cumulative Returns and Simple Returns")
    cumReturns.plot(figsize=(10,6), color="blue")
    #we add the mean of the series as a horizontal line
    plt.axhline(cumReturns.mean(), color="red", linestyle="--", linewidth=2)
    plt.ylabel("Cumulative Returns")
    plt.subplot(2,1,2)
    simpleReturns.plot(figsize=(10,6), color="green")
    plt.axhline(simpleReturns.mean(), color="red", linestyle="--", linewidth=2)
    plt.ylabel("Simple Returns")
    plt.savefig( RETURNS_PATH + "cumReturnsVsSimpleReturns" + str(count) + ".png")
    #suppress plot output
    plt.close()

In [22]:
cumReturns_mensili = cum_df.groupby(pd.Grouper(freq="M")).last()

C:\Users\Riccardo\AppData\Local\Temp\ipykernel_19800\1154752585.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  cumReturns_mensili = cum_df.groupby(pd.Grouper(freq="M")).last()

In [23]:
for i, ticker in enumerate(tickers):
    plotCumulativeReturns_vs_simpleReturns(cumReturns_mensili[ticker + "_Rcomposito"], 
                                           rs_netti_mensili[ticker + "_RSnetto"], 
                                           ticker,
                                           i)

ISTOGRAMMI E DISPERSIONE

In [24]:
HISTOGRAPH_PATH = IMAGE_PATH + "/histograms/"
create_folder(HISTOGRAPH_PATH)

In [25]:
#funzione per plottare gli istogrammi di due titoli
cmap = plt.get_cmap("turbo")
def plot_histograms(df, label1, label2, title):
    plt.figure(figsize=(12,8))
    plt.hist(df[[label1, label2]], bins=25, density=True, 
             edgecolor='black', color=[cmap(0.8), cmap(0.2)])
    plt.title(title)
    plt.legend([label1, label2], fontsize=15, loc="upper right")
    plt.xlabel("Net Return")
    plt.ylabel("Frequency")
    plt.savefig(HISTOGRAPH_PATH + title + ".png")
    plt.close()

In [26]:
#istogramma dei titoli tecnologici
plot_histograms(rs_netti_mensili, "NVDA_RSnetto", 
                "INTC_RSnetto", 
                "Net Return Histogram NVDA_INTC")
#dispersione dei titoli tecnologici
rsNetti_df[["NVDA_RSnetto", "INTC_RSnetto"]].std()

NVDA_RSnetto    0.029824
INTC_RSnetto    0.021047
dtype: float64

In [27]:
#istogramma dei titoli bellici
plot_histograms(rs_netti_mensili, "HII_RSnetto", 
                "TDG_RSnetto", 
                "Net Return Histogram HII_TDG")
#dispersione dei titoli farmaceutici
rsNetti_df[["HII_RSnetto", "TDG_RSnetto"]].std()

HII_RSnetto    0.017221
TDG_RSnetto    0.020850
dtype: float64

In [28]:
#istogramma dei titoli bancari
plot_histograms(rs_netti_mensili, "JPM_RSnetto", 
                "BAC_RSnetto", 
                "Net Return Histogram JPM_BAC")
#dispersione dei titoli bancari
rsNetti_df[["JPM_RSnetto", "BAC_RSnetto"]].std()

JPM_RSnetto    0.016972
BAC_RSnetto    0.019474
dtype: float64

ISTOGRAMMI SUI SINGOLI TITOLI

In [52]:
#definiamo una funzione per plottare l'istogramma dei singoli titoli.
rsNetti_df.columns = [col.replace("_RSnetto", "") for col in rsNetti_df.columns]
from scipy import stats
def plot_single_histogram(df):
    plt.figure(figsize=(12,8))
    plt.subplots_adjust(hspace=0.5)
    for i, col in enumerate(df.columns):
        plt.subplot(3,2,i+1)
        #troviamo il numero ottimale di bins
        n_bins = (np.max(df[col], axis=0) - np.min(df[col], axis=0)) / (2*stats.iqr(df[col], axis=0) / np.power(len(df[col]), 1/3))
        n_bins = int(n_bins)
        plt.hist(df[col], bins=n_bins, edgecolor='black', color=cmap(0.8))
        plt.title(col)
        plt.xlabel("Net Return")
        plt.ylabel("Frequency")
    plt.savefig(HISTOGRAPH_PATH + "single_histograms" + ".png")
    plt.close()
    #plt.show()

In [53]:
plot_single_histogram(rsNetti_df)

In [54]:
THREE_SECTIONS_GRAPH_PATH = IMAGE_PATH + "/three_sections_graph/"
create_folder(THREE_SECTIONS_GRAPH_PATH)

In [72]:
#definiamo una funzione per creare grafici diagnostici a 3 sezioni (istogramma e kernel density, boxplot, qq-plot)
def plot_three_section_graph(title_df, title):
    plt.figure(figsize=(8,10))
    plt.subplots_adjust(hspace=0.5)
    plt.subplot(3,1,1)
    plt.title(title + " histogram")
    plt.hist(title_df, bins=55, edgecolor='black', color=cmap(0.8), density=True)
    #plotting the kernel density
    title_df.plot.kde(color=cmap(0.2))
    plt.xlabel("Net Return")
    plt.ylabel("Frequency")
    plt.subplot(3,1,2)
    plt.title(title + " boxplot")
    title_df.plot.box()
    plt.ylabel("Net Return")
    plt.subplot(3,1,3)
    plt.title(title + " qq-plot")
    stats.probplot(title_df, dist="norm", plot=plt)
    plt.savefig(THREE_SECTIONS_GRAPH_PATH + title + ".png")
    #plt.show()
    plt.close()

In [73]:
for col in rsNetti_df.columns:
    plot_three_section_graph(rsNetti_df[col], col)

In [76]:
#calcolare le statistiche univariate
stats_df = pd.DataFrame(index=rsNetti_df.columns)
stats_df["Media"] = rsNetti_df.mean()
stats_df["varianza"] = rsNetti_df.var()
stats_df["Deviazione standard"] = rsNetti_df.std()
stats_df["Asimmetria"] = rsNetti_df.skew()
stats_df["Curtosi"] = rsNetti_df.kurt()

stats_df

         Media  varianza  Deviazione standard  Asimmetria    Curtosi
NVDA  0.002629  0.000889             0.029824    0.690360   9.271242
INTC  0.000371  0.000443             0.021047   -0.231853  10.310511
HII   0.000579  0.000297             0.017221   -0.281539   6.791653
TDG   0.001183  0.000435             0.020850    0.125962  22.424329
JPM   0.000764  0.000288             0.016972    0.297650  14.113210
BAC   0.000637  0.000379             0.019474    0.282791  10.097505

In [77]:
#calcoliamo la matrice di varianze/covarianze
cov_matrix = rsNetti_df.cov()
var_matrix = rsNetti_df.var()

In [78]:
var_matrix

NVDA    0.000889
INTC    0.000443
HII     0.000297
TDG     0.000435
JPM     0.000288
BAC     0.000379
dtype: float64

In [79]:
cov_matrix

          NVDA      INTC       HII       TDG       JPM       BAC
NVDA  0.000889  0.000306  0.000100  0.000229  0.000175  0.000197
INTC  0.000306  0.000443  0.000108  0.000153  0.000156  0.000172
HII   0.000100  0.000108  0.000297  0.000152  0.000134  0.000151
TDG   0.000229  0.000153  0.000152  0.000435  0.000190  0.000202
JPM   0.000175  0.000156  0.000134  0.000190  0.000288  0.000296
BAC   0.000197  0.000172  0.000151  0.000202  0.000296  0.000379